--login
/* Estilos comunes para los dos frames */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


/*Campos*/
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}




/* Estilos para el contenedor principal */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/*registro usuario*/
        body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
         }
         h1 {
            text-align: center;
            color: #333;
        }

     
        form {
            max-width: 400px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #555;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        
        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
        }
